<!--xuân 5-->

{% extends "base.html" %}
{% block content %}

<h3>Danh sách hóa đơn</h3>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Khách</th>
        <th>Phòng</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
    </tr>

    {% for hd in hoa_don_list %}
    <tr>
        <td>{{ hd.id }}</td>
        <td>{{ hd.dat_phong.ten_khach }}</td>
        <td>{{ hd.dat_phong.phong.ma_phong }}</td>
        <td>{{ hd.tong_tien }} đ</td>
        <td>
            {% if hd.da_thanh_toan %}
                Đã thanh toán
            {% else %}
                Chưa thanh toán
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
