{% extends "base.html" %}

{% block title %}Chi tiết phòng {{ phong.ma_phong }}{% endblock %}
{% block page_title %}Chi tiết phòng {{ phong.ma_phong }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="mb-3">Thông tin phòng</h5>

    <p><strong>Mã phòng:</strong> {{ phong.ma_phong }}</p>
    <p><strong>Loại phòng:</strong> {{ phong.loai_phong.ten_loai }}</p>
    <p>
      <strong>Trạng thái:</strong>
      {% if phong.trang_thai == 'trong' %}
        <span class="badge bg-success">Trống</span>
      {% elif phong.trang_thai == 'dang_thue' %}
        <span class="badge bg-danger">Đang thuê</span>
      {% elif phong.trang_thai == 'dang_bao_tri' %}
        <span class="badge bg-warning text-dark">Đang bảo trì</span>
      {% endif %}
    </p>

<!--sửa lại nút quay lại trang chủ-->    
  <a
    href="{% url 'bao_cao:trang_chu' %}"
    class="btn btn-primary btn-sm w-100"
  >
    quay lại trang chủ
  </a>
<!--sửa lại nút quay lại trang chủ-->



  </div>
</div>
<hr>

{% if phong.trang_thai == 'trong' %}
  <a
    href="{% url 'khach_san:check_in' phong.ma_phong %}"
    class="btn btn-success"
  >
    Check-in
  </a>

{% elif phong.trang_thai == 'dang_thue' %}
  <a
    href="{% url 'khach_san:check_out' phong.ma_phong %}"
    class="btn btn-danger"
  >
    Check-out
  </a>
{% endif %}

{% endblock %}
