{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4">Danh sách đặt phòng</h3>

<table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Phòng</th>
            <th>Tên khách</th>
            <th>Loại khách</th>
            <th>Ngày nhận</th>
            <th>Ngày trả</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        {% for dp in danh_sach %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ dp.phong.ma_phong }}</td>
            <td>{{ dp.ten_khach }}</td>
            <td>{{ dp.loai_khach }}</td>
            <td>{{ dp.ngay_nhan|date:"d/m/Y" }}</td>
            <td>
                {% if dp.ngay_tra %}
                    {{ dp.ngay_tra|date:"d/m/Y" }}
                {% else %}
                    —
                {% endif %}
            </td>
            <td>
               {% if user.is_superuser %}
        {% if dp.dang_o %}
            <a href="{% url 'dat_phong:check_out' dp.id %}"
               class="btn btn-sm btn-danger">
                Check-out
            </a>
        {% else %}
            <span class="text-muted">—</span>
        {% endif %}
    {% else %}
        <span class="text-muted">—</span>
    {% endif %}
</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center text-muted">
                Chưa có đơn đặt phòng
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
